---
import Button from './Button.astro';
import Input from './Input.astro';
let errors;
let cardData;

if (Astro.cookies.has('errors')) {
  errors = Astro.cookies.get('errors').json();

  Astro.cookies.delete('errors');
}

if (Astro.cookies.has('cardData')) {
  cardData = Astro.cookies.get('cardData').json();

  Astro.cookies.delete('cardData');
}
---

<section class="form_section">
  <form class="form_section__form" action="/cardData" method="POST">
    <Input
      value={cardData?.ownerName}
      error={errors?.ownerName}
      id="ownerName"
      placeholder="e.g. Jane Appleseed"
      label="Cardholder Name"
      minLength={5}
      maxLength={32}
      required
      type="text"
      inputClass="input_owner_name"
      inputStyle="grid-column: 1 / 3"
    />
    <Input
      value={cardData?.cardNumber}
      error={errors?.cardNumber}
      id="cardNumber"
      placeholder="e.g. 1234 5678 9123 0000"
      label="Card Number"
      minLength={19}
      maxLength={19}
      required
      type="text"
      inputClass="input_card_number"
      inputStyle="grid-column: 1 / 3"
    />
    <div class="exp_date_container">
      <label class="input_label_exp_date">
        Exp. Date (MM/YY)
        <div class="exp_date__inputs_container">
          <input
            class="form_section_input input_exp_date_m"
            type="number"
            placeholder="MM"
            name="expDateM"
            id="expDateM"
            minlength="2"
            maxlength="2"
            required
            value={cardData?.expDateM ?? ''}
          />
          <input
            class="form_section_input input_exp_date_y"
            type="number"
            placeholder="YY"
            name="expDateY"
            minlength="2"
            maxlength="2"
            id="expDateY"
            required
            value={cardData?.expDateY ?? ''}
          />
        </div>
        <p class="error_container">{errors?.expDate ?? ' '}</p>
      </label>
    </div>
    <Input
      value={cardData?.cvcNumber}
      error={errors?.cvcNumber}
      id="cvcNumber"
      placeholder="e.g. 123"
      label="CVC"
      minLength={3}
      maxLength={3}
      required
      type="number"
      inputClass="input_cvc_number"
      inputStyle="grid-column: 2 / 3"
    />
    <Button
      style="grid-column: 1 / 3; margin-top: 8px; margin-bottom: 50px"
      label="Confirm"
    />
  </form>
</section>

<style>
  .form_section {
    display: grid;
    place-self: center;
    align-self: flex-start;
    margin-top: 47px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .form_section__form {
    display: grid;
    place-self: stretch;
    grid-template-columns: 1fr 1fr;
  }

  .exp_date_container {
    display: grid;
    grid-column: 1 / 2;
  }

  .input_label_exp_date {
    display: flex;
    flex-direction: column;
    min-width: 30px;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1.3px;
    font-weight: bolder;
    color: var(--very-dark-violet);
    margin-bottom: 20px;
  }
  .exp_date__inputs_container {
    display: flex;
    flex-direction: row;
  }

  .input_exp_date_m {
    width: 71px;
    margin-right: 10px;
  }
  .input_exp_date_y {
    width: 71px;
  }

  @media screen and (min-width: 1000px) {
    .form_section {
      width: 395px;
      align-self: center;
      margin-top: 7px !important;
    }

    .input_exp_date_m {
      width: 80px;
    }
    .input_exp_date_y {
      width: 80px;
    }
  }
</style>
