---
export interface Props {
  id: string;
  label: string;
  value?: string;
  errors?: string;
  placeholder?: string;
  minLength?: number;
  maxLength?: number;
  required?: boolean;
  type?: 'text' | 'number';
  inputStyle?: string;
  inputClass?: string;
  error?: string;
}

const {
  value,
  error,
  id,
  placeholder,
  label,
  minLength,
  maxLength,
  required,
  type,
  inputStyle,
  inputClass,
} = Astro.props;
---

<div class="form_section__input_container" style={inputStyle}>
  <label class="input_label">
    {label}
    <input
      class:list={[
        'form_section_input',
        { form_section_input_error: error },
        inputClass,
      ]}
      type={type}
      name={id}
      id={id}
      placeholder={placeholder}
      minlength={`${minLength}`}
      maxlength={`${maxLength}`}
      required={required ?? false}
      autocomplete="off"
      value={value ?? ''}
    />
  </label>
  <p class="error_container">{error ?? ' '}</p>
</div>

<style is:global>
  .form_section__input_container {
    display: grid;
  }

  .input_label {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1.3px;
    font-weight: bolder;
    color: var(--very-dark-violet);
  }
  .form_section_input {
    margin-top: 6px;
    padding-top: 3px;
    padding-left: 15px;
    letter-spacing: 1.1px;
    height: 45px;
    border-radius: 7px;
    border: 2px solid var(--dark-grayish-violet);
    opacity: 50%;
    font-size: medium;
    font-weight: normal;
  }
  .form_section_input::placeholder {
    color: var(--dark-grayish-violet);
  }
  .form_section_input:focus,
  .form_section_input:focus-visible,
  .form_section_input:focus-within {
    outline: none !important;
    border: 2px solid transparent;
    border-radius: 7px;
    background-image: linear-gradient(white, white), var(--linear-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 10px var(--dark-grayish-violet);
  }

  .form_section_input_error {
    outline: none !important;
    border: 2px solid var(--errors);
  }

  .error_container {
    margin-bottom: 20px;
    font-size: small;
    text-transform: none;
    letter-spacing: 1.3px;
    font-weight: bolder;
    color: var(--errors);
    opacity: 85%;
  }

  @media screen and (max-width: 370px) {
    .input_label {
      font-size: x-small;
    }

    .form_section_input {
      padding-top: 1px;
      padding-left: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    .form_section {
      width: 395px;
      align-self: center;
      margin-top: 19px !important;
    }

    .error_container {
      margin-bottom: 24px;
    }
  }
</style>
